{% for blog in blogs %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="{{ path('blog_show', {'slug' : blog.id}) }}">
                        <h2 class="post-title">
                            {{ blog.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ blog.body }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap </a>{{ blog.updated| date('Y.m.d') }} </p>
                </div>
            </div>
        </div>
    </div>

    <hr>
{% endfor %}